<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="assets/styles/reset.css">
        <link rel="stylesheet" href="assets/styles/style.css">
    
    </head>
    
    <body>
        <header>
            <div class="container navlinks">
    
                <img src="http://via.placeholder.com/150x150" alt "">
    
                <nav>
                    <ul>
                        <li>
                            <a href="index.php">Home</a>
                        </li>
                        <li>
                            <a href="about.php">About</a>
                        </li>
    
                        <li>
                            <a href="about2.php">About 2</a>
                        </li>
                        <li>
                            <a href="other.html">Other</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
    