.container {
    background: grey;
    width:100%;
    height:400px;
    display: flex;
    /* align items is vertical */
    align-items: center;
    /* flex-direction: column; */
    justify-content: space-around;
    /* justify-content: space-between;  */
    /* justify-content: spece-evenly;    */
    /* justify-content: center;    */
}

.box{
    background:white;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    line-height:150px;
    text-align: center;
    font-size: 60px;

}

.big-box{
    width: 100%;
    height: 400px;
    background: yellow;
}

.small-box{
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background: red;
}