body {
    margin:0;
    padding:0;
}

header {
    height: 70px;
    width:100%;
    background-color: #555;
    color: white;
    font-size: 16;
    padding: 5px;
    position: sticky;

}

footer {
    height: 50px;
    background-color: #555
}


.navlinks {
    font-family: 'Courier New', Courier, monospace;

}

.navlinks li {
    display:inline-block;
    text-align:center;
    margin:15px 5px 5px 5px;
    background-color:#a00;
    border: 1px solid #000000;
    border-radius: 50px;
    padding: 10px;  
    width:130px;
    box-shadow: 10px 5px 5px black
}
.navlinks a{
    color:#FFFFFF;
    text-decoration:none;

}
.navlinks a:hover{
    /* color:rgb(37, 221, 206); */
}

.navlinks li:hover{
    background-color:#c00;
    /* border-radius: 100px; */
    box-shadow: 4px 4px 4px rgb(51, 50, 50)
}
.navlinks img {
    height:100%;
    width:auto;
    float:right;
}

.logo{
    height:50px;
    width:auto;
}
.column {
    display:inline-block;
    width:30%;
    margin: 1.5% 1.5%
}

.background {
    background-color: rgb(17, 70, 70);
}

.container {
    margin:0 auto;
    max-width:960px;
}
.maincontent {
    background-color: rgb(25, 112, 112);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.new {
    color: green;
    opacity: 0.9;
}

.box1 {
    width: 50%;
    height: 100px;
    background-color: #60cef0;
    /* margin: 5px; */
    display: inline-block;
    box-sizing: content-box;
    /* box-sizing: padding-box; */
    /* box-sizing: border-box; */
}

.box2 {
    width: 50%;
    height: 100px;
    background-color: #499fb9;
    /* margin: 5px; */
    display: inline-block;
    border-radius: 5%;
}

.box3 {
    border: 6px solid #123451;
    background-color: #3e8499;
    /* box-sizing: border-box; */
    height: 100px;
    margin: 20px;
    padding: 20px;
    width: 400px;
}

.text {
    font-size: 16px;
    width: 10em;
    background-color: yellow;
    border: 3px solid #000000;
    border-radius: 50%;
}

.follow {
    font-size: 2emx;
    background-color: pink;
}


.section-1, .section-4 {
    height:50px;
    width:100%;
    background-color:red;
    margin: 5px;
    clear: both;
}



.section-2 {
    height:50px;
    width:45%;
    border-radius: 10px;
    background-color:yellow;
    opacity: 0.8;
    margin: 5px;
    float: left;
}

.section-3 {
    height:50px;
    width:45%;
    border-radius: 10px;
    opacity: 0.8;
    background-color:pink;
    margin: 5px;
    float: right;
}

.goleft {
    float: left;
    margin: 50px;

}
.goright {
    float: right;
    margin: 50px;
 }



 img {
     width:100%;
     height:auto;
 }

 /* .section {
    padding-left: 20px;
    padding-right: 20px;
} */